<html>
<head>

<style>
body {
    margin: 0;
      background-color: white;
      color: pink
      border-style: solid;
      border-color: pink
  }

  /* Style the header */
.header {
    color: purple;
    padding: 20px;
    text-align: center;

  }

.grid-container {
  display: grid;
  background-color: pink;
  padding: 10px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-color: purple;
  grid-template-columns: auto auto auto;
  box-shadow: 10px 10px;
}

.box1 {
  background-color:white;
  border: solid;
  border-color: purple;
  padding: 40px;
  font-size: 30px;
  text-align: right;
  border-style: solid;
  grid-area: 1 / 1 / span 1 / span 3;
}

.box2, .box3, .box4 {
  background-color: pink
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
}

.box5, .box6, .box7 {
  background-color: pink
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
}

.box8, .box9, .box10 {
  background-color: pink
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
} 

.box11, .box12, .box13 {
  background-color: pink
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
}

.box14 {
  background-color: pink;
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;

}

.box15 {
  background-color: pink;
  border: solid;
  border-color: purple;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
  grid-area: 6 / 2 / span 1 / span 2;
  
}

</style>
</head>
<body>


