<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: pink;
  padding: 10px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.grid-item {
  background-color:white;
  border: 1px solid;
  border-color:pink;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item0 {
  grid-column-start: 0;
  grid-column-end: 1;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

.item4 {
    grid-column-start: 4;
    grid-column-end: 7;
  }

.item7 {
    grid-column-start: 7;
    grid-column-end: x;
  }

.itemX {
    grid-column-start: x;
    grid-column-end: -;
  }

.item- {
    grid-column-start: -;
    grid-column-end: =;
  }

</style>
</head>
<body>

